<div class="flex justify-between items-center mt-10">
  <h1 class="text-lg sm:text-xl md:text-2xl lg:text-3xl text-gray-900 font-medium md:font-normal leading-none">
    <a href="<%= themeConfig.domain %>"><%= themeConfig.siteName %></a>
  </h1>
  <div class="block lg:hidden" id="thumb-menu">
    <button id="thumb-open" type="button" class="block">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 6H22V7H2V6ZM2 12H22V13H2V12ZM22 18H2V19H22V18Z" class="fill-current text-gray-900"></path></svg>
    </button>
    <button id="thumb-close" type="button" class="hidden">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 4L20 20M20 4L4 20" class="" stroke="#1A202C"></path></svg>
    </button>
  </div>
</div>
<div id="nav-list" class="lg:block hidden">
  <div class="w-full block lg:flex lg:justify-between lg:border-b lg:border-gray-400 mt-10 text-gray-700 font-medium lg:text-lg">
    <div class="lg:flex -mb-px">
      <% menus.forEach(function(menu, index) { %>
        <% if (menu.openType === 'External') { %>
          <a href="<%= menu.link %>" class="nav-link" target="_blank"><%= menu.name %></a>
        <% } else { %>
          <a href="<%= menu.link %>" class="nav-link"><%= menu.name %></a>
        <% } %>
      <% }); %>
    </div>
    <div class="lg:flex">
      <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook', 'telegram', 'dribbble', 'instagram', 'behance', 'qq'].forEach((item) => { %>
        <% if (site.customConfig[item]) { %>
          <a href="<%= site.customConfig[item] %>" class="block lg:mt-0 lg:ml-8 flex align-center hover:text-gray-900" target="_blank">
            <div><%- { github: 'GitHub', twitter: 'Twitter', weibo: 'Weibo', zhihu: 'Zhihu', facebook: 'FaceBook', telegram: 'Telegram', dribbble: 'Dribbble', instagram: 'Instagram', behance: 'Behance', qq: 'QQ' }[item] %></div>
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-1 -mt-px"><path d="M16.5 13V18.5H6.5V8.5H12" stroke="#4A5568"></path> <path d="M10 15L18.5 6.5" stroke="#4A5568"></path> <path d="M14 6.5H18.5V11" stroke="#4A5568"></path></svg>
          </a>
        <% } %>
      <% }) %>
      <a href="<%= themeConfig.domain %>/atom.xml" class="block mt-6 lg:mt-0 lg:ml-8 flex align-center hover:text-gray-900" target="_blank">
        <div>RSS</div>
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" class="ml-1 -mt-px"><path d="M16.5 13V18.5H6.5V8.5H12" stroke="#4A5568"></path> <path d="M10 15L18.5 6.5" stroke="#4A5568"></path> <path d="M14 6.5H18.5V11" stroke="#4A5568"></path></svg>
      </a>
    </div>
  </div>
</div>