<html lang="en">
<head>
  <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
<body>
  <div class="antialiased">
    <%- include('./includes/header') %>

    <div class="max-w-5xl mx-auto px-6 md:px-8">
      <div class="mb-20 md:flex mt-10 lg:mt-6 md:pt-2">
        <div class="w-full">
          <div class="mt-6 lg:mt-10">
            <div class="py-6 sm:py-8 lg:py-10">
              <% posts.forEach(function(post) { %>
                <div class="flex flex-col md:flex-row flex-wrap justify-between sm:text-lg lg:text-xl mb-6">
                  <a href="<%= post.link %>" class="text-gray-900 hover:underline"><%= post.title %></a>
                  <div class="text-gray-700"><%= post.dateFormat %></div>
                </div>
              <% }); %>
            </div>
          </div>
          <%- include('./includes/pagination') %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>