<html lang="en">
<head>
  <%- include('./includes/head', { siteTitle: site.themeConfig.siteName }) %>
</head>
<body>
  <div class="antialiased flex flex-col min-h-screen bg-gray-100" id="app">
    <%- include('./includes/header') %>

    <div class="max-w-6xl w-full mx-auto px-4 py-8 my-8 flex-1">
      <div class="text-center p-10 mb-10">
        <h2 class="text-3xl font-medium text-gray-800">跟随我们</h2>
        <p class="text-gray-500 mt-3">一起使用 Gridea。然后，爱上它</p>
      </div>

      <div class="flex flex-wrap -m-4">
        <% site.customConfig.docs.forEach((item, index) => { %>
          <%
            const foundPost = site.posts.find((p) => p.link.split('/').pop() === item.link.split('/').pop())
          %>

          <% if (foundPost)  { %>
            <div class="w-1/3 p-4">
              <a href="<%= foundPost.link %>" class="transition-fast px-4 py-8 border-gray-100 border rounded hover:border-gray-400 hover:shadow-md block bg-white shadow">
                <h2 class="text-xl font-medium"><%= foundPost.title %></h2>
                <div class="text-gray-500"><%- foundPost.abstract %></div>
              </a>
            </div>
          <% } %>

        <% }) %>
      </div>

    </div>
    <%- include('./includes/footer') %>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
</body>
</html>