<html lang="en">
<%- include('./includes/head', { siteTitle: site.themeConfig.siteName }) %>
<body>
  <div class="antialiased flex flex-col min-h-screen md:bg-gray-100" id="app">
    <%- include('./includes/header') %>
    <div class="max-w-6xl w-full mx-auto px-4 py-8 my-8 flex-1">

      <h1 class="text-3xl text-center"><%= post.title %></h1>
      
      <% if (!post.hideInList) { %>
        <div class="my-4 text-gray-400 flex justify-center">
          <span class="flex items-center mr-4 text-sm"><i class="ri-timer-2-line mr-2"></i><%= post.dateFormat %></span>
          <span class="flex items-center text-sm"><i class="ri-book-read-line mr-2"></i><%= post.stats.text %></span> 
        </div>
      <% } %>

      <% if (themeConfig.showFeatureImage && post.feature) { %>
        <img class="max-w-full mt-6 rounded" src="<%= post.feature %>" alt="">
      <% } %>
      
      <div class="flex relative bg-white <%- themeConfig.showFeatureImage && post.feature ? 'mt-0 md:-mt-24' : 'mt-8 md:mt-16' %> md:rounded md:shadow pb-24">
        <div v-pre class="markdown mt-10 flex-1 w-full px-0 md:px-12">
          <%- post.content %>
        </div>
        <!-- <div class="hidden md:block w-48 sticky top-0 pt-10 post-toc self-start">
          <div class="uppercase py-4 font-normal text-gray-400 text-sm">On this page</div>
          <%- post.toc %>
        </div> -->
      </div>

      <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
        <% if (commentSetting.commentPlatform === 'gitalk') { %>
          <div class="mt-6">
            <%- include('./includes/gitalk') %>
          </div>
        <% } %>

        <% if (commentSetting.commentPlatform === 'disqus') { %>
          <div class="mt-6">
            <%- include('./includes/disqus') %>
          </div>
        <% } %>
      <% } %>
    </div>

    <%- include('./includes/footer') %>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/media/scripts/main.js"></script>
  <script src="/media/prism.js"></script>
  <script>
    Prism.highlightAll()
  </script>
</body>
</html>